@layer components {
  .agenda-content li {
    @apply py-0 leading-5;
  }

  .agenda-content ul,
  .agenda-content ol {
    @apply list-outside pl-8 pr-2;
  }
  .agenda-content p {
    @apply py-0 pt-2;
  }

  .body-content .highlight-accent1 a {
    @apply text-accent1;
  }

  .bottom-line {
    @apply relative;
  }
}
