@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-button-gradient {
    @apply bg-gradient-to-r from-buttonDark to-buttonLight overflow-hidden relative z-10;
  }

  .card-bg {
    @apply bg-white rounded-lg;
  }

  .hero-bg-gradient {
    @apply bg-gradient-to-b from-heroGradientLight to-heroGradientDark;
  }

  .shadow-component {
    @apply relative shadow-xl;
  }

  .shadow-component::after {
    content: "";
    z-index: -1;
    @apply absolute w-full h-full opacity-0 rounded-lg shadow-2xl transition-opacity duration-300 ease-in-out top-0 left-0;
  }

  .shadow-component:hover::after {
    @apply opacity-100;
  }

  .content-container {
    max-width: 830px;
  }

  .bg-button-gradient::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #37c8dc, #3a85ca);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  .bg-button-gradient:hover::before {
    opacity: 1;
  }
}

@layer utilities {
  /* Layout */

  .absolute-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reflect-x {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  .reflect-y {
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
  }
  /* Scrollbars */

  .scrollbars-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbars-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .curved-corner-bottomright {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
  }

  .curved-corner-bottomright::before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    box-shadow: 50px 50px 0 0 #1c5469;
  }

  /* Typography */

  .body-content a {
    @apply underline text-primary2 font-bold;
  }
  .body-content ul {
    @apply list-disc list-inside pl-8 py-4;
  }

  .body-content p {
    @apply py-2 leading-relaxed;
  }

  .body-content h1 {
    @apply pt-8 pb-2 font-bold text-2xl text-primary1 leading-relaxed text-center;
  }

  .body-content h2 {
    @apply pt-4 pb-2 font-bold text-xl text-primary2 leading-relaxed;
  }

  .body-content h3 {
    @apply pt-2 pb-2 font-bold text-primary1 leading-relaxed;
  }

  .body-content h4 {
    @apply font-bold text-center pt-4;
  }

  .body-content ol {
    @apply list-outside list-decimal ml-6;
  }

  .body-content img {
    @apply mx-auto p-4;
  }

  .body-content .gatsby-resp-iframe-wrapper {
    @apply mb-6 mt-2;
  }

  .index-title {
    @apply text-2xl pb-4 font-bold;
  }

  .index-text {
    @apply text-base;
  }

  @screen sm {
    .index-title {
      @apply text-3xl;
    }
  }

  @screen md {
    .body-content h2 {
      @apply text-2xl;
    }

    .index-title {
      @apply text-4xl;
    }

    .index-text {
      @apply text-lg;
    }
  }
}
