
.responsive {
    margin-top: 10px;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.iframe {
overflow: hidden;
border: 0;
align-self: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
outline: 0;
object-fit: fill;
object-position: 50% 50%;
}

.social{
    margin-top: 100px;
    align-items: center;
}
