.st0 {
  fill: #fdfdfd;
}
.st1 {
  fill: #eef4f5;
}
.st2 {
  fill: #7cb0bd;
}
.st3 {
  fill: none;
}
.st4 {
  fill: #397992;
}
.st5 {
  font-family: "Calibri";
}
.st6 {
  font-size: 13px;
}
.st7 {
  fill: #1c5469;
}
.st8 {
  font-family: "Calibri";
  font-weight: 700;
}
.st9 {
  font-size: 20px;
}
.st10 {
  fill: none;
  stroke: #1c5469;
  stroke-width: 1.2;
  stroke-miterlimit: 10;
}
.st11 {
  fill: #972e63;
}
.st12 {
  fill: #a7b32a;
}
.st13 {
  fill: #f0a846;
}
.st14 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st15 {
  fill: none;
  stroke: #972e63;
  stroke-width: 1.1;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st16 {
  fill: none;
  stroke: #972e63;
  stroke-width: 1.1;
  stroke-miterlimit: 10;
}
.st17 {
  fill: #972e63;
  stroke: #ffffff;
  stroke-width: 0.1637;
  stroke-miterlimit: 10;
}
.st18 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.1637;
  stroke-miterlimit: 10;
}
.st19 {
  fill: #a7b32a;
  stroke: #ffffff;
  stroke-width: 0.1637;
  stroke-miterlimit: 10;
}
.st20 {
  fill: #f0b23c;
}
.st21 {
  fill: none;
  stroke: #a7b32a;
  stroke-width: 1.1;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st22 {
  fill: none;
  stroke: #a7b32a;
  stroke-width: 1.1;
  stroke-miterlimit: 10;
}
.st23 {
  fill: none;
  stroke: #f0a846;
  stroke-width: 1.1;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st24 {
  fill: none;
  stroke: #f0a846;
  stroke-width: 1.1;
  stroke-miterlimit: 10;
}
.st25 {
  fill: #ffffff;
  stroke: #972e63;
  stroke-width: 0.9502;
  stroke-miterlimit: 10;
}
.st26 {
  fill: #ffffff;
  stroke: #972e63;
  stroke-miterlimit: 10;
}
.st27 {
  fill: #ffffff;
  stroke: #972e63;
  stroke-width: 1.0746;
  stroke-miterlimit: 10;
}
.re-sector-linked {
  stroke: #972e63;
  fill: #972e63;
  stroke-width: 1.0746;
  stroke-miterlimit: 10;
}
.mob-sector-linked {
  stroke: #a7b32a;
  fill: #a7b32a;
  stroke-width: 1.0746;
  stroke-miterlimit: 10;
}
.st28 {
  fill: #ffffff;
  stroke: #a7b32a;
  stroke-width: 0.9502;
  stroke-miterlimit: 10;
}
.st29 {
  fill: #ffffff;
  stroke: #a7b32a;
  stroke-miterlimit: 10;
}
.st30 {
  fill: #ffffff;
  stroke: #a7b32a;
  stroke-width: 1.0746;
  stroke-miterlimit: 10;
}
.st31 {
  fill: #ffffff;
  stroke: #f0a846;
  stroke-width: 0.9502;
  stroke-miterlimit: 10;
}
.st32 {
  fill: #ffffff;
  stroke: #f0a846;
  stroke-miterlimit: 10;
}
.st33 {
  fill: #ffffff;
  stroke: #f0a846;
  stroke-width: 1.0746;
  stroke-miterlimit: 10;
}
.st34 {
  fill: none;
  stroke: #1c5469;
  stroke-width: 1.1;
  stroke-miterlimit: 10;
}
.st35 {
  fill: #ffffff;
  stroke: #1c5469;
  stroke-miterlimit: 10;
}

.scroll::-webkit-scrollbar {
  width: 16px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #4d8cae;
  border-radius: 100px;
}

@supports (scrollbar-color: red blue) {
  .scroll {
    scrollbar-color: #4d8cae #e4e4e4;
    scrollbar-width: auto;
  }
}
